button {
  background: linear-gradient(116deg, rgba(181, 181, 232, 0.4), rgba(241, 173, 255, 0.4));
  border: 0;
  border-radius: 16px;
  user-select: none;
  color: #313131;
  cursor: pointer;
  padding: 0 16px;
  transition-property: box-shadow;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.4s ease-in-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;


  &, span {
    display: block;
    transition: {
      duration: 0.1s;
      timing-function: linear;
    }

    &:focus {
      outline: none;
    }
  }

  span {
    transition-property: transform;
    will-change: transform;
  }


  transition: transform 0.4s ease-in-out; // add this line

  &:hover {
    animation: bounce-zoom 0.2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes bounce-zoom {

  100% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

* {
  // skeumophic borders with inner shadow
}